.tip {
  @include section-decorate;
  display: flex;
  justify-content: center;

  // .tip__content
  &__content {
    max-width: 914px;
    padding-top: 65px;
    padding-bottom: 65px;
    padding-left: $pl;
    padding-right: $pr;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: $md6) {
      padding-left: $pl * 1.5;
      padding-right: $pr * 1.5;
    }
    @media (min-width: $md4) {
      width: 100%;
      justify-content: space-between;
      flex-direction: row;
      align-items: initial;
      padding-left: $pl * 2;
      padding-right: $pr * 2;
    }
  }

  // .tip__message
  &__message {
    margin-bottom: 40px;
    @media (min-width: $md4) {
      flex-basis: 50%;
      align-self: center;
      margin-bottom: 0;
    }
  }

  // .tip__message-wrapper
  &__message-wrapper {
    margin-bottom: 40px;
  }

  // .tip__message-heading
  &__message-heading {
    @include heading-v1;
    @include text-gradient;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  // .tip__message-text
  &__message-text {
    @include heading-v3;
  }

  // .tip__image
  &__image {
    @media (min-width: $md4) {
      flex-basis: 50%;
    }
  }

  // .tip__image-inner
  &__image-inner {
    margin-left: auto;
    margin-right: auto;
    width: 290px;
    height: 264px;
    img {
      top: 32px;
      left: 30px;
      width: 222px;
      height: 222px;
    }
    &--frames-kids {
      &::before {
        background-image: url(../img/tip/tip-frame.svg);
      }
      &::after {
        background-image: url(../img/tip/tip-frame-top.svg);
        background-position-x: right 13px;
      }
    }
    &--frames-adults {
      &::before {
        background-image: url(../img/tip/tip-frame-adults.svg);
      }
      &::after {
        background-image: url(../img/tip/tip-frame-adults-top.svg);
        background-position-x: right 13px;
      }
    }
  }
}
