//form
%pair-fields {
  flex-basis: calc(100% - 15px);
  &:first-child {
    margin-bottom: 12px;
  }
  @media (min-width: $md4) {
    flex-basis: calc(50% - 15px);
  }
}
%field-decorate {
  border-radius: 10px;
  border: 1px solid #ffeca0;
  padding: 0.75em 1em;
  background-color: $white;
  transition: box-shadow 0.1s linear;
  &:hover {
    box-shadow: 0 2px 4px 0 #ffeca0;
  }
}
%field-error {
  &.error {
    border: 1px solid #ffa0a0;
    &:hover {
      box-shadow: 0 2px 4px 0 #ffa0a0;
    }
  }
}
