.features {
  margin-bottom: 100px;
  @include padding-container($maxWidthContainer, $pl, $pr);
  @media (min-width: $md4) {
    margin-bottom: 140px;
    display: flex;
  }
  // .features__text
  &__text {
    margin-bottom: 40px;
    @media (min-width: $md4) {
      margin-right: 40px;
      margin-bottom: 0;
      // max-width: 430px;
      flex-basis: 35%;
      flex-shrink: 0;
    }
    @media (min-width: $md1) {
      margin-right: 65px;
    }
    p {
      @include h2_mobile;
    }
  }
  // .features__heading
  &__heading {
    @include h1_mobile;
    margin-bottom: 20px;
  }
  // .features__list
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -15px;
    margin-bottom: -15px;
    :nth-child(1n) {
      border-left-color: #fdd503;
    }
    :nth-child(2n) {
      border-left-color: $red;
    }
    @media (min-width: $md4) {
      align-self: center;
    }
    @media (min-width: $md1) {
      align-self: flex-start;
      margin: 30px -10px -10px;
    }
  }
  // .features__list-item
  &__list-item {
    @include h3_mobile;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 14px;
    border-left-color: transparent;
    border-left-style: solid;
    border-left-width: 4px;
    @media (min-width: $md1) {
      flex-basis: calc(50% - 20px);
      //?флекс, чтобы p внутри центрировались
      display: flex;
      align-items: center;
      margin: 10px;
    }
  }
}

.tip {
  @include padding-container($maxWidthContainer, $pl, $pr);
  @include section-decorate;
  margin-bottom: 100px;
  padding-top: 65px;
  padding-bottom: 65px;
  // .tip__inner
  &__inner {
    @include container(840px);
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: $md4) {
      flex-direction: row;
      align-items: initial;
    }
  }
  // .tip__message
  &__message {
    margin-bottom: 40px;
    @media (min-width: $md4) {
      flex-basis: 50%;
      align-self: center;
      margin-bottom: 0;
    }
  }
  // .tip__message-wrapper
  //враппер для марджина хедера в зависимости наличия текста под ним
  &__message-wrapper {
  }
  // .tip__message-heading
  &__message-heading {
    @include h1_mobile;
    @include text-gradient;
    margin-bottom: 30px;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  // .tip__message-text
  &__message-text {
    @include h3_mobile;
    margin-bottom: 40px;
  }
  // .tip__button
  &__button {
  }
  // .tip__image
  &__image {
    @media (min-width: $md4) {
      flex-basis: 50%;
    }
  }
  // .tip__image-inner
  &__image-inner {
    margin-left: auto;
    margin-right: auto;
    width: 290px;
    height: 264px;
    img {
      top: 32px;
      left: 30px;
      width: 222px;
      height: 222px;
    }
    &--frames-kids {
      &::before {
        background-image: url(../img/tip/tip-frame.svg);
      }
      &::after {
        background-image: url(../img/tip/tip-frame-top.svg);
        background-position-x: right 13px;
      }
    }
    &--frames-adults {
      &::before {
        background-image: url(../img/tip/tip-frame-adults.svg);
      }
      &::after {
        background-image: url(../img/tip/tip-frame-adults-top.svg);
        background-position-x: right 13px;
      }
    }
  }
}

.result {
  margin-bottom: 100px;
  @include padding-container(880px, $pl, $pr);
  // .result__heading
  &__heading {
    @include h1_mobile;
    @include text-gradient;
    margin-bottom: 40px;
  }
  // .result__list
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: -12.5px;
  }
  // .result__item
  &__item {
    margin: 12.5px;
    @media (min-width: $md6) {
      flex-basis: calc(50% - 25px);
    }
    @media (min-width: $md4) {
      flex-basis: calc(33.333% - 25px);
    }
  }
}
.item-result {
  @include section-decorate;
  padding: 28px 37px;
  // .item-result__text
  &__text {
    @include h3_mobile;
    &::before {
      content: '';
      display: block;
      width: 40px;
      height: 40px;
      margin-bottom: 26px;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &--icon-books {
      &::before {
        background-image: url(../img/icons/result/books.svg);
      }
    }
    &--icon-device {
      &::before {
        background-image: url(../img/icons/result/device.svg);
      }
    }
    &--icon-brain {
      &::before {
        background-image: url(../img/icons/result/brain.svg);
      }
    }
    &--icon-innovation {
      &::before {
        background-image: url(../img/icons/result/innovation.svg);
      }
    }
    &--icon-audiobook {
      &::before {
        background-image: url(../img/icons/result/audiobook.svg);
      }
    }
    &--icon-network {
      &::before {
        background-image: url(../img/icons/result/network.svg);
      }
    }
  }
}

.our-values {
  margin-bottom: 100px;
  @include padding-container($maxWidthContainer, $pl, $pr);
  @media (min-width: $md4) {
    display: flex;
  }
  // .our-values__image
  &__image {
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    height: 227px;
    @media (min-width: $md7) {
      width: 353px;
      height: 300px;
    }
    @media (min-width: $md4) {
      orfer: 0;
      flex-shrink: 0;
      width: 280px;
      height: 227px;
      margin-right: 50px;
      align-self: center;
    }
    @media (min-width: $md3) {
      width: 353px;
      height: 300px;
      margin-right: 70px;
    }
    img {
      width: 187px;
      height: 187px;
      left: 27px;
      top: 33px;
      @media (min-width: $md7) {
        width: 260px;
        height: 260px;
      }
      @media (min-width: $md4) {
        width: 187px;
        height: 187px;
      }
      @media (min-width: $md3) {
        width: 260px;
        height: 260px;
      }
    }
    &::before {
      background-image: url(../img/our-values/our-values-frame.svg);
    }
    &::after {
      background-image: url(../img/our-values/our-values-frame-top.svg);
      left: 32px;
      top: 14px;
      width: 230px;
      @media (min-width: $md7) {
        left: 35px;
        top: 7px;
        width: 319px;
      }
      @media (min-width: $md4) {
        left: 32px;
        top: 14px;
        width: 230px;
      }
      @media (min-width: $md3) {
        left: 35px;
        top: 7px;
        width: 319px;
      }
    }
  }
  // .our-values__group
  &__group {
    margin-bottom: 60px;
    @media (min-width: $md4) {
      order: 1;
      margin-bottom: 0;
    }
  }
  // .our-values__heading
  &__heading {
    @include h1_mobile;
    @include text-gradient;
    margin-bottom: 40px;
  }
  // .our-values__list
  &__list {
    display: inline-flex;
    flex-wrap: wrap;
    margin: -20px;
  }
  // .our-values__list-item
  &__list-item {
    // flex-basis: calc(50% - 40px);
    @include h2_mobile;
    display: inline-flex;
    flex-direction: column;
    align-content: flex-start;
    margin: 20px;
    &:hover {
      .our-values__list-item-decoration {
        width: 100%;
      }
    }
    &:nth-child(1n) {
      circle {
        fill: rebeccapurple;
      }
      line {
        stroke: rebeccapurple;
      }
    }
    &:nth-child(2n) {
      circle {
        fill: $red;
      }
      line {
        stroke: $red;
      }
    }
    &:nth-child(3n) {
      circle {
        fill: $green;
      }
      line {
        stroke: $green;
      }
    }
    &:nth-child(4n) {
      circle {
        fill: $orange;
      }
      line {
        stroke: $orange;
      }
    }
    &:nth-child(5n) {
      circle {
        fill: $yellow;
      }
      line {
        stroke: $yellow;
      }
    }
    &:nth-child(6n) {
      circle {
        fill: #038192;
      }
      line {
        stroke: #038192;
      }
    }
  }
  // .our-values__list-item-decoration
  &__list-item-decoration {
    width: 85%;
    margin-bottom: 14px;
    transition: width 0.3s linear;
  }
}
