.header {
}

.main-nav {
  @include padding-container($maxWidthContainer, $pl, $pr);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  // .main-nav__list
  &__list {
    display: flex;
    align-items: center;
    @media (min-width: 830px) {
      width: 100%;
    }
    &--dropdown {
      display: block;
    }
  }
  // .main-nav__item
  &__item {
    &--main-logo {
      @media (min-width: $md4) {
        margin-right: 28px;
      }
    }
    &--main-edu {
      display: none;
      @media (min-width: $md4) {
        display: block;
      }
    }
    &--main-socials {
      display: none;
      @media (min-width: 830px) {
        display: block;
        margin-left: auto;
      }
    }
    &--hide-media {
      @media (min-width: $md4) {
        display: none;
      }
    }
    &--offset-bottom {
      margin-bottom: 40px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &--center-lr {
      margin-left: auto;
      margin-right: auto;
    }
  }
  // .main-nav__logo
  &__logo {
    img {
      width: 195px;
      height: 40px;
      @media (min-width: $md4) {
        width: 244px;
        height: 50px;
      }
    }
  }
  // .main-nav__trigger
  &__trigger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 15px;
    margin-right: -15px;
    &.open > span {
      background-color: transparent;
      &::before,
      &::after {
        top: 0;
      }
      &::before {
        transform: rotate3d(0, 0, 1, 45deg);
      }
      &::after {
        transform: rotate3d(0, 0, 1, -45deg);
      }
    }
    & > span {
      position: relative;
      display: inline-block;
      width: 20px;
      height: 1px;
      background-color: $black;
      transition: background-color 0.3s linear;
      &::before,
      &::after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $black;
        transform-origin: 50% 50%;
        transition: top 0.2s linear, transform 0.3s linear;
      }
      &::before {
        top: 6px;
      }
      &::after {
        top: -6px;
      }
    }
    @media (min-width: 830px) {
      display: none;
    }
  }
  // .main-nav__dropdown
  &__dropdown {
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    min-width: 320px;
    overflow-y: auto;
    border-radius: 0 0 70px 70px;
    background-color: $white;
    transform-origin: top;
    transform: rotateX(90deg);
    transition: all 0.3s ease;
    @media (min-width: 830px) {
      display: none;
    }
    @media (max-height: 568px) {
      bottom: 0;
    }
    &.open {
      display: block;
      transform: rotateX(0deg);
    }
  }
  // .main-nav__dropdown-inner
  //нужен чтобы при трансформациях дропдауна не оставались висеть паддинги
  &__dropdown-inner {
    padding-top: 40px;
    padding-bottom: 60px;
  }
}

.education {
  // .education__list
  &__list {
    @media (min-width: $md4) {
      display: flex;
      align-items: center;
    }
    &--dropdown {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }
  // .education__item
  &__item {
    @include h3_mobile;
    letter-spacing: 0.02rem;
    white-space: nowrap;
    @media (min-width: $md4) {
      padding-left: 12px;
      padding-right: 12px;
    }
    @media (min-width: $md1) {
      padding-left: 21px;
      padding-right: 21px;
    }
    &--offset-bottom {
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
.socials {
  // .socials__list
  &__list {
    display: flex;
    justify-content: center;
  }
  // .socials__item
  &__item {
    font-size: 20px;
    padding: 12px;
  }
}
.contacts {
  // .contacts__heading
  &__heading {
    @include h2_mobile;
    text-align: center;
    margin-bottom: 20px;
  }
  // .contacts__list
  &__list {
    text-align: center;
  }
  // .contacts__item
  &__item {
    @include h3_mobile;
    color: #363636;
    margin-bottom: 12px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
