.tip {
  // .tip__image
  &__image {
  }
  // .tip__text
  &__text {
    margin: 0px 0px 0px 16px;
  }
}
//========================================================================================================================================================
.offer-block {
  position: relative;

  // .offer-block__title
  &__title {
    font-size: 48px;
    line-height: 1.2;
    font-weight: 700;
    color: $white;
    margin-bottom: 30px;
    // @media (max-width: $md2) {
    //   font-size: 32px;
    //   line-height: 1.25;
    // }
    @media (max-width: $md4) {
      max-width: 470px;
      margin-bottom: 38px;
    }
    @media (max-width: $md7) {
      font-size: 25px;
      line-height: 1.2;
    }
  }
  // .offer-block__text-wrapper
  &__text-wrapper {
    display: flex;
    flex-direction: column;
  }
  // .offer-block__text
  &__text {
    font-size: 16px;
    line-height: 2;
    font-weight: 300;
    color: darken($white, 30%);
    margin-bottom: 54px;
    @media (max-width: $md2) {
      line-height: 1.5;
      margin-bottom: 42px;
    }
    @media (max-width: $md4) {
      max-width: 470px;
      margin-bottom: 30px;
    }
    @media (max-width: $md7) {
      display: none;
    }
  }
} //!на уд.
//========================================================================================================================================================
.philosophy-section {
  position: relative;
  background: url('../img/philosophy-bg.jpg') 0 0 / cover no-repeat;
  padding-top: 50px;
  padding-bottom: 40px;
  @media (min-width: $md4) {
    padding-top: 96px;
    padding-bottom: 56px;
  }
  @media (min-width: $md1) {
    padding-top: 118px;
    padding-bottom: 160px;
  }
  // // .philosophy__bg-container
  // &__bg-container {
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   right: 0;
  //   bottom: 0;
  //   z-index: -1;
  //   background-color: #000;
  // }
  // // .philosophy__bg
  // &__bg {
  //   background: url('../img/philosophy-bg.jpg') 0 0 / cover no-repeat;
  //   width: 100%;
  //   height: 100%;
  //   // animation: scale 20s linear 1 forwards;
  // }

  // .philosophy__modal
  &__modal {
  }

  // .philosophy__content
  &__content {
    // max-width: calc(1440px + 64px);
    // margin: 0 auto;
    // padding-left: 32px;
    // padding-right: 32px;
  }
  // .philosophy__info
  &__info {
    margin-bottom: 24px;
    @media (min-width: $md4) {
      margin-bottom: 40px;
    }
    @media (min-width: $md1) {
      margin-bottom: 85px;
    }
  }
  // .philosophy__note
  &__note {
    font-size: 12px;
    font-weight: 700;
    line-height: 2;
    color: $white;
    margin-bottom: 18px;
    @media (min-width: $md1) {
      font-size: 16px;
      line-height: 1.5;
    }
  }
  // .philosophy__title
  &__title {
    font-size: 25px;
    font-weight: 700;
    line-height: 1.2;
    color: $white;
    @media (min-width: $md4) {
      font-size: 32px;
    }
    @media (min-width: $md2) {
      max-width: 720px;
    }
    @media (min-width: $md1) {
      font-size: 48px;
      max-width: 1070px;
    }
  }
  // .philosophy__nav
  &__nav {
  }
}

.modal-philosophy {
  display: flex;
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 530px;
  height: 100%;
  background-color: $white;
  transform: translateX(100%);
  transition: transform 0.3s linear;
  &--close {
    transform: translateX(0%);
  }
  // .modal-philosophy__aside
  &__aside {
    flex-shrink: 0;
    background-color: $brand;
    width: 60px;
    @media (min-width: $md5) {
      width: 70px;
    }
    @media (min-width: $md4) {
      width: 90px;
    }
  }
  // .modal-philosophy__button
  &__button {
    margin: 24px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border: 1px solid $white;
    cursor: pointer;
    user-select: none;
    transition: border-color 0.1s linear;
    &:hover {
      border-color: darken($white, 30%);
      span {
        &::before,
        &::after {
          background-color: darken($white, 30%);
        }
      }
    }
    &:active {
      border-color: $white;
      span {
        &::before,
        &::after {
          background-color: $white;
        }
      }
    }
    span {
      position: relative;
      display: inline-block;
      width: 20px;
      height: 0;
      // transition: width 0.3s linear;
      &::before,
      &::after {
        content: '';
        position: absolute;
        left: 50%;
        width: 100%;
        height: 2px;
        background-color: $white;
        transition: background-color 0.1s linear;
      }
      &::before {
        top: -3px;
        transform: translate(-50%, 3px) rotate(-135deg);
      }
      &::after {
        top: 3px;
        transform: translate(-50%, -3px) rotate(135deg);
      }
    }
  }
  // .modal-philosophy__content
  &__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    overflow-y: auto;
    width: 100%;
    max-width: calc(100% - 60px);
    @media (min-width: $md6) {
      margin-left: 10px;
    }
    @media (min-width: $md5) {
      max-width: calc(100% - 70px);
      margin-left: 20px;
    }
    @media (min-width: $md4) {
      max-width: calc(100% - 90px);
    }
  }
  // .modal-philosophy__text
  &__text {
    width: 100%;
    padding: 20px 15px;
  }
  // .modal-philosophy__heading
  &__heading {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 18px;
    @media (min-width: $md4) {
      margin-bottom: 28px;
    }
  }
  // .modal-philosophy__list
  &__list {
    padding-left: 15px;
  }
  // .modal-philosophy__list-item
  &__list-item {
    list-style-type: disc;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: lighten($black, 30%);
    &:not(:last-child) {
      margin-bottom: 10px;
      @media (min-width: $md4) {
        margin-bottom: 14px;
      }
    }
  }
}

//========================================================================================================================================================
.nav-philosophy {
  // .nav-philosophy__list
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -5px;
    margin-bottom: -5px;
    @media (min-width: $md5) {
      margin-right: -5px;
      margin-left: -5px;
    }
    @media (min-width: $md4) {
      margin: -8px;
    }
    @media (min-width: $md1) {
      margin: -20px;
    }
  }
  // .nav-philosophy__item
  &__item {
    flex-basis: 100%;
    z-index: 1;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 24px;
    height: 230px;
    outline: 1px solid darken($white, 80%);
    cursor: pointer;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: url(../img/grid.svg);
      background-repeat: repeat;
      background-position: 0 0;
      background-color: #1e468a;
      background-size: 40px;
      transition: opacity 0.3s ease;
      z-index: -1;
      opacity: 0;
    }
    &.active::after {
      opacity: 1;
    }
    @media (min-width: $md5) {
      flex-basis: calc(50% - 10px);
      margin-right: 5px;
      margin-left: 5px;
    }
    @media (min-width: $md4) {
      flex-basis: calc(33.33% - 16px);
      height: 232px;
      margin: 8px;
    }
    @media (min-width: $md2) {
      flex-basis: calc(25% - 16px);
    }
    @media (min-width: $md1) {
      height: 328px;
      flex-basis: calc(25% - 40px);
      margin: 20px;
    }
  }
  // &__item.active + .modal-philosophy {
  //   transform: translateX(0%);
  // }
  &__item.active .nav-philosophy__text-wrapper {
    transform: translateY(0%);
  }
  &__item.active .nav-philosophy__text {
    display: block;
  }
  &__item.active .nav-philosophy__button {
    span {
      width: 20px;
      &::before {
        transform: translate(0px, 3px) rotate(-135deg);
      }
      &::after {
        transform: translate(0px, -3px) rotate(135deg);
      }
    }
  }
  // .nav-philosophy__button-wrapper
  &__button-wrapper {
    flex: 0 0 100%;
    margin-bottom: 10px;
  }
  // .nav-philosophy__button
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    // align-self: flex-start;
    width: 32px;
    height: 32px;
    border: 1px solid $white;
    cursor: pointer;
    user-select: none;
    &:active {
      border-color: darken($white, 30%);
      span {
        &::before,
        &::after {
          background-color: darken($white, 30%);
        }
      }
    }
    span {
      position: relative;
      display: inline-block;
      width: 10px;
      height: 0;
      transition: width 0.3s linear;
      &::before,
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $white;
        transform-origin: 50% 50%;
        transition: transform 0.3s linear;
      }
      &::before {
        top: -3px;
        transform: rotate(45deg);
      }
      &::after {
        top: 3px;
        transform: rotate(-45deg);
      }
    }
  }
  // .nav-philosophy__text-wrapper
  &__text-wrapper {
    transform: translateY(10%);
    align-self: flex-end;
    transition: all 0.3s linear;
  }
  // .nav-philosophy__title
  &__title {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    // margin-top: auto;
    color: $white;
  }
  // .nav-philosophy__text
  &__text {
    display: none;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    color: darken($white, 30%);
  }
}
//========================================================================================================================================================
.mission-section {
  padding-top: 36px;
  padding-bottom: 70px;
  @media (min-width: $md4) {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  @media (min-width: $md2) {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  @media (min-width: $md1) {
    padding-top: 104px;
    padding-bottom: 104px;
  }
  // .mission__content
  &__content {
    @media (min-width: $md2) {
      display: flex;
      max-width: 1000px;
    }
    @media (min-width: $md1) {
      max-width: 1200px;
    }
  }
  // .mission-section__text-wrapper
  &__text-wrapper {
    margin-bottom: 36px;
    @media (min-width: $md4) {
      margin-bottom: 46px;
    }
    @media (min-width: $md2) {
      max-width: 450px;
      margin-right: 30px;
      margin-bottom: 0;
    }
    @media (min-width: $md1) {
      margin-right: 125px;
      max-width: 600px;
    }
  }
  // .mission__title
  &__title {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 34px;
    @media (min-width: $md7) {
      font-size: 25px;
    }
    @media (min-width: $md4) {
      font-size: 32px;
      line-height: 1.25;
    }
    @media (min-width: $md2) {
      margin-bottom: 48px;
    }
  }
  // .mission__btn-wrapper
  &__btn-wrapper {
  }
  // .mission__btn
  &__btn {
    width: 100%;
    text-transform: uppercase;
    @media (min-width: $md2) {
      max-width: 140px;
    }
  }
  // .mission__review
  &__review {
    @media (min-width: $md2) {
      max-width: 400px;
      margin-left: 30px;
    }
    @media (min-width: $md1) {
      margin-left: 125px;
      max-width: 420px;
    }
  }
}
//========================================================================================================================================================
//todo Поднять блок с цифрами повыше
.slider-history {
  height: 100vh;
  overflow: hidden;
  position: relative;
  // .slider-history__static-block
  &__static-block {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    height: 50%;
    @media (min-width: $md2) {
      height: 100%;
      padding-bottom: 58px;
    }
  }
  // .slider-history__static-block-inner
  &__static-block-inner {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    max-width: 764px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 20px;
    @media (min-width: $md1) {
      max-width: 1112px;
    }
  }
  // .slider-history__date-block
  &__date-block {
    position: relative;
    align-self: flex-start;
    transform: translateY(-50%);
    @media (max-height: 520px) {
      width: 100%;
      text-align: right;
    }
    @media (min-width: $md2) {
      transform: translateY(50%);
    }
  }
  // .slider-history__heading
  &__heading {
    position: relative;
    font-size: 80px;
    font-weight: 700;
    color: $white;
    z-index: 2;
    @media (max-height: 520px) {
      font-size: 80px;
    }
    @media (min-width: $md7) {
      font-size: 127px;
    }
    @media (min-width: $md5) {
      font-size: 200px;
    }
    @media (min-width: $md4) {
      font-size: 270px;
    }
    @media (min-width: $md1) {
      font-size: 430px;
    }
  }
  // .slider-history__pagination
  &__pagination {
    position: absolute;
    bottom: -45px;
    display: flex;
    align-items: flex-end;
    height: 20px;
    transition: all 0.3s linear;
    counter-reset: year 1991;
    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: $white;
    }
  }
  // .slider-history__pagination-bullet
  &__pagination-bullet {
    cursor: pointer;
    z-index: 2;
    position: relative;
    width: 8px;
    height: 16px;
    margin-right: 120px;
    background-color: $white;
    transition: width 0.3s linear;
    //*counter
    &::before {
      content: '';
      position: absolute;
      top: -25px;
      left: 50%;
      counter-increment: year;
      content: counter(year);
      transform: translateX(-50%);
      color: darken($white, 50%);
      font-size: 10px;
      font-weight: 700;
    }
    &-active {
      width: 4px;
    }
  }
  // .slider-history__btn-wrapper
  &__btn-wrapper {
    flex-basis: 100%;
    width: 100%;
    display: flex;
    // justify-content: space-between;
    align-self: flex-end;
    position: relative;
    // margin: 0 -5px;
    @media (min-width: $md2) {
      justify-content: flex-start;
    }
  }
  // .slider-history__btn
  &__btn {
    text-transform: uppercase;
    flex-grow: 1;
    // margin: 0 5px;
    height: 56px;
    &--skip {
      // flex: 1 1 100%;
    }
    @media (min-width: $md4) {
      flex-grow: 0;
    }
    @media (min-width: $md2) {
      // flex-grow: 0;
      max-width: 150px;
    }
    @media (min-width: $md1) {
      height: 60px;
    }
  }

  .swiper-button-disabled path {
    stroke: rgb(148, 148, 148);
  }
  //! .swiper-button-prev,
  // .swiper-button-next {
  // }
  .swiper-button-next svg {
    transform: rotate(180deg);
  }

  // .slider-history__slide-wrapper
  &__slide-wrapper {
    position: relative;
  }
  // .slider-history__slide
  &__slide {
    background-color: $brand; //если картинка не загр. то будет видно белый текст
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    @media (max-height: 520px) {
      flex-direction: row;
    }
    @media (min-width: $md2) {
      flex-direction: row;
    }
  }
  // .slider-history__bg-block
  &__bg-block {
    position: relative;
    flex: 0 0 50%;
    display: flex;
    background-size: cover;
    background-position: center;

    &--1 {
      background-image: url(../img/bg-history-1.jpg);
    }
    &--2 {
      background-image: url(../img/bg-history-2.jpg);
    }
    &--3 {
      background-image: url(../img/bg-history-3.jpg);
    }
    @media (min-width: $md2) {
      order: 1;
    }
  }
  // .slider-history__text-wrapepr
  &__text-wrapper {
    flex: 0 0 50%;
    display: flex;
    align-items: center;
    max-height: 50%;
    padding-top: 20px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 40px;
    @media (max-height: 520px) {
      padding-top: 20px;
      padding-bottom: 20px;
      max-height: 65%;
    }
    @media (min-width: $md7) {
      padding-top: 52px;
      padding-bottom: 52px;
    }
    @media (min-width: $md5) {
      justify-content: flex-end;
      max-height: none;
    }
    @media (min-width: $md4) {
      padding-top: 80px;
    }
    @media (min-width: $md2) {
      justify-content: center;
      align-items: flex-end;
      order: 2;
    }
  }
  // .slider-history__text
  &__text {
    max-width: 450px;
    font-size: 14px;
    line-height: 1.5;
    color: $white;
    overflow: hidden;
    @media (max-height: 520px) {
      font-size: 12px;
      max-height: 160px;
    }
    @media (min-width: $md7) {
      font-size: 16px;
    }
  }
}
//========================================================================================================================================================
.sertification-section {
  // .sertification-section__info
  &__info {
    margin-bottom: 14px;
  }
  // .sertification-section__note
  &__note {
    font-size: 12px;
    line-height: 2;
    font-weight: 700;
    color: $brand;
    margin-bottom: 18px;
    @media (min-width: $md5) {
      font-size: 14px;
    }
    @media (min-width: $md1) {
      margin-bottom: 30px;
    }
  }
  // .sertification-section__title
  &__title {
    font-size: 20px;
    line-height: 1.15;
    font-weight: 700;
    color: $black;
    max-width: 1070px;
    @media (min-width: $md7) {
      font-size: 25px;
    }
    @media (min-width: $md5) {
      font-size: 30px;
      max-width: 80%;
    }
    @media (min-width: $md4) {
      font-size: 32px;
      line-height: 1.25;
    }
    @media (min-width: $md3) {
      font-size: 36px;
      line-height: 1.15;
    }
    @media (min-width: $md2) {
      font-size: 40px;
    }
    @media (min-width: $md1) {
      font-size: 44px;
    }
  }
  // .sertification-section__slider
  &__slider {
    position: relative;
    // margin: 0 -20px;
  }
  // .sertification-section__slider-wrapper
  &__slider-wrapper {
  }
  // .sertification-section__slide
  &__slide {
    overflow: hidden;
    // margin: 0 20px;
    img {
      display: block;
      max-width: 100%;
      max-height: 468px;
    }
  }
  // sertification-section__btn-wrapper
  &__btn-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
  }
  // sertification-section__btn
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 41px;
    height: 41px;
    border: 1px solid $brand;
    cursor: pointer;
    user-select: none; //?узнать
    &:first-child {
      border-right: 1px solid transparent;
    }
    span {
      position: relative;
      display: inline-block;
      width: 15px;
      height: 1px;
      &::before,
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $brand;
      }
      &::before {
        top: -5px;
        transform: rotate(45deg);
      }
      &::after {
        top: 5px;
        transform: rotate(-45deg);
      }
    }
    &--prev {
      span {
        transform: rotate(180deg);
      }
    }
  }
  .swiper-button-disabled > span {
    &::before,
    &::after {
      background-color: lightgrey;
    }
  }
}
//========================================================================================================================================================
//*bg
.bg {
  &::before {
    content: '';
    position: absolute;
    z-index: -2;
  }
  //Представление
  &--grid {
    &::before {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url(../img/grid.svg);
      background-repeat: repeat;
      background-position: center top;
      background-size: 40px 40px;
      z-index: -2;
    }
    @media (max-width: $md1) {
      &::before {
        background-position: right top;
      }
    }
    @media (max-width: $md2) {
      &::before {
        background-size: 30px 30px;
      }
    }
    @media (max-width: $md4) {
      &::before {
        background-size: 40px 40px;
      }
    }
    @media (max-width: $md7) {
      &::before {
        background-size: 20px 20px;
      }
    }
  }
  &--cross-grid {
    &::before {
      // top: 0;
      top: 155px;
      right: -26px;
      width: 610px;
      height: 690px;
      background-image: url(../img/cross.svg);
      background-repeat: repeat;
      background-position: 0 0;
      background-size: 40px 40px;
      z-index: -1;
    }
    @media (max-width: $md1) {
      &::before {
        right: 34px;
      }
    }
    @media (max-width: $md2) {
      &::before {
        top: 86px;
        right: 23px;
        width: 460px;
        height: 520px;
        background-size: 30px 30px;
      }
    }
    @media (max-width: $md4) {
      &::before {
        top: 115px;
        right: 74px;
        width: 610px;
        height: 690px;
        background-size: 40px 40px;
      }
    }
    @media (max-width: $md7) {
      &::before {
        right: 50%;
        width: 305px;
        height: 345px;
        background-size: 20px 20px;
        transform: translateX(50%);
      }
    }
  }
}
.background-block {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  overflow: hidden;
  // .background__inner
  &__inner {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
  }
}

//! Проверь как ведут себя картинки, если они будут больше размером чем сейчас
//img {
//max-width: 100%;
//display:block //если обрезаются снизу (у контейнера ovh)
//}

//========================================================================================================================================================
.solution-slider {
  position: relative; //для грида
  z-index: 1;
  background-color: $brand;
  &__content {
    overflow: hidden;
  }
  // .solution-slider__wrapper
  &__slides-wrapper {
    margin-bottom: 24px;
  }
  // .solution-slider__slide
  &__slide {
  }
  // .solution-slider__content
  &__slide-content {
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    position: relative;
    @media (min-width: $md3) {
      flex-direction: row;
      justify-content: space-between;
    }
    // @media (min-width: $md1) {
    //   max-width: calc(1440px + 64px);
    //   margin: 0 auto;
    // }

    &::before {
      content: '';
      align-self: center;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: 100%;
      height: 340px;
      margin-bottom: -30px;
      @media (min-width: $md6) {
        // width: 400px;
        height: 485px;
      }
      @media (min-width: $md4) {
        // width: 530px;
        // height: 500px;
      }
      @media (min-width: $md3) {
        order: 2;
        margin-bottom: 0;
        // width: 400px;
        // height: 485px;
      }
      @media (min-width: $md1) {
        // width: 460px;
        height: 555px;
      }
      @media (min-width: 1920px) {
        // width: 560px;
        height: 680px;
      }
    }
    &--bg-sheets {
      &::before {
        background-image: url(../img/solutions-sheet.svg);
      }
    }
    &--bg-taxi {
      &::before {
        background-image: url(../img/solutions-taxi.svg);
      }
    }
    &--bg-ag {
      &::before {
        background-image: url(../img/solutions-ag.svg);
      }
    }
    &--bg-map {
      &::before {
        background-image: url(../img/solutions-map.svg);
      }
    }
  }
  // .solution-slider__promo
  &__promo {
    flex-shrink: 0;
    @media (min-width: $md3) {
      align-self: center;
    }
  }
  // .solution-slider__text-wrapper
  &__text-wrapper {
    margin-bottom: 24px;
    @media (min-width: $md6) {
      max-width: 340px;
    }
    @media (min-width: $md5) {
      max-width: 400px;
    }
    @media (min-width: $md4) {
      max-width: 480px;
    }
    @media (min-width: $md2) {
      max-width: 510px;
    }
    @media (min-width: $md1) {
      max-width: 580px;
    }
  }
  // .solution-slider__title
  &__title {
    font-size: 21px;
    font-weight: 700;
    line-height: 1.2;
    color: $white;
    @media (min-width: $md7) {
      font-size: 25px;
    }
    @media (min-width: $md6) {
      font-size: 28px;
      margin-bottom: 10px;
    }
    @media (min-width: $md5) {
      font-size: 34px;
    }
    @media (min-width: $md4) {
      line-height: 1.25;
    }
    @media (min-width: $md2) {
      font-size: 42px;
    }
    @media (min-width: $md1) {
      font-size: 48px;
    }
  }
  // .solution-slider__text
  &__text {
    display: none;
    @media (min-width: $md5) {
      display: block;
      font-size: 14px;
      line-height: 1.5;
      font-weight: 300;
      color: darken($white, 30%);
    }
    @media (min-width: $md5) {
      font-size: 16px;
    }
  }
  // .solution-slider__btn-wrapper
  &__btn-wrapper {
    display: flex;
    margin: 0 -8px;
  }
  // .solution-slider__btn
  &__btn {
    flex-basis: 100%;
    margin: 0 8px;
    text-transform: uppercase;
    @media (min-width: $md3) {
      max-width: 140px;
    }
  }
  // .solution-slider__pagination
  &__pagination {
    // margin-right: -16px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; //
    height: 95px;
    counter-reset: item;
    transition: all 0.3s linear;
    @media (min-width: $md5) {
      padding-left: 32px;
      padding-right: 32px;
    }
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: $white;
      transform: translateY(-50%);
    }
  }
  // .solution-slider__pagination-bullet
  &__pagination-bullet {
    flex-shrink: 0;
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    background-color: $brand;
    border-radius: 50%;
    transition: border-color 0.3s ease 0s;
    border: 2px solid transparent;
    cursor: pointer;

    //*counter
    &::before {
      content: '';
      position: absolute;
      top: -25px;
      left: 50%;
      counter-increment: item;
      content: '0' counter(item);
      transform: translateX(-50%);
      color: darken($white, 50%);
      font-size: 10px;
      font-weight: 700;
    }

    //*solutions name-list
    &::after {
      position: absolute;
      bottom: -40px;
      left: 50%;
      transform: translateX(-50%);
      color: $white;
      font-size: 16px;
      line-height: 2.5;
      font-weight: 700;
      white-space: nowrap;
      @media (max-width: $md2) {
        display: flex;
        align-items: flex-start;
        height: 30px;
        font-size: 12px;
        line-height: 1.3;
        white-space: normal;
      }
    }
    &:nth-child(1n) {
      &::after {
        content: 'СЭД';
      }
    }
    &:nth-child(2n) {
      &::after {
        content: 'Мониторинг транспорта';
      }
    }
    &:nth-child(3n) {
      &::after {
        content: 'Такси';
      }
    }
    &:nth-child(4n) {
      &::after {
        content: 'Активный гражданин';
      }
    }
    &:nth-child(5n) {
      &::after {
        content: 'ГБО';
      }
    }
    &:nth-child(6n) {
      &::after {
        content: 'ДРСУ';
      }
    }

    //*точка в круге
    span {
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 8px;
        height: 8px;
        background-color: $white;
        border-radius: 50%;
        transform: translate(-50%, -50%);
      }
    }
    &-active {
      border: 2px solid darken($white, 30%);
    }
    @media (max-width: $md2) {
      margin-right: 120px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
