//Promo
.promo {
  @include padding-container($maxWidthContainer, $pl, $pr);
  padding-top: 60px;
  padding-bottom: 40px;
  @media (min-width: $md4) {
    display: flex;
  }
  // .promo__info
  &__info {
    margin-bottom: 60px;
    @media (min-width: $md4) {
      flex-basis: calc(55% - 16px);
      margin-top: 70px;
      margin-right: 16px;
      margin-bottom: 0;
    }
    // @media (min-width: $md1) {
    //   flex-basis: calc(55% - 16px);
    // }
  }
  // .promo__heading
  &__heading {
    font-family: $heading;
    font-size: 30px;
    line-height: 1.325;
    letter-spacing: 0.02rem;
    margin-bottom: 40px;
    @media (min-width: 860px) {
      font-size: 34px;
    }
    @media (min-width: 930px) {
      font-size: 36px;
    }
    @media (min-width: $md2) {
      font-size: 41px;
    }
    @media (min-width: $md1) {
      font-size: 50px;
    }
  }
  // .promo__btn
  &__btn {
  }
  // .promo__image
  &__image {
    margin-left: -20px;
    margin-right: -20px;
    @media (min-width: $md4) {
      flex-basis: calc(45% - 16px);
      margin-left: 16px;
      margin-right: 0;
    }
    // @media (min-width: $md1) {
    //   flex-basis: calc(45% - 16px);
    // }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
//Lessons
.lessons {
  @include padding-container($maxWidthContainer, $pl, $pr);
  padding-top: 40px;
  padding-bottom: 80px;
  @media (min-width: $md4) {
    padding-bottom: 70px;
  }
  // .lessons__content
  &__content {
    @media (min-width: $md5) {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin-left: -10px;
      margin-right: -10px;
    }
  }
  // .lessons__item
  &__item {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    overflow: hidden;
    @media (min-width: $md5) {
      flex-basis: calc(50% - 20px);
      justify-content: flex-start;
      margin-left: 10px;
      margin-right: 10px;
    }
    @media (min-width: $md4) {
      flex-basis: auto;
    }
  }
  // .lessons__text
  &__text {
    @include h1_mobile;
    align-self: flex-end;
    margin-left: -100px;
    @media (min-width: $md7) {
      @include h1;
    }
    span {
      background-color: $white;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  // .lessons__img
  &__img {
    flex-shrink: 0;
    width: 166px;
    // height: 130px;
    border-radius: 60px;
    overflow: hidden;
    @media (min-width: $md7) {
      width: 193px;
      // height: 150px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
//Languages
.languages {
  @include padding-container($maxWidthContainer, $pl, $pr);
  display: flex;
  justify-content: center;
  padding-top: 65px;
  padding-bottom: 65px;
  @include section-decorate;

  // .languages__inner
  &__inner {
    @include section-offsets;
  }
  // .languages__heading
  &__heading {
    @include h1_mobile;
    @include text-gradient;
    margin-bottom: 40px;
  }
  // .languages__list
  &__list {
    @media (min-width: $md4) {
      display: flex;
      flex-wrap: wrap;
    }
  }
  // .languages__item
  &__item {
    @include h2_mobile;
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    @media (min-width: $md4) {
      flex-basis: 25%;
      padding-left: 10px;
      padding-right: 10px;
    }
    &::before {
      @include icon-before(36px, inline-block);
      margin-right: 20px;
      flex-shrink: 0;
    }
    &--eng {
      &::before {
        background-image: url(../img/icons/languages/eng.svg);
      }
    }
    &--de {
      &::before {
        background-image: url(../img/icons/languages/de.svg);
      }
    }
    &--esp {
      &::before {
        background-image: url(../img/icons/languages/esp.svg);
      }
    }
    &--fr {
      &::before {
        background-image: url(../img/icons/languages/fr.svg);
      }
    }
  }
}
//Benefits
.benefits {
  @include padding-container($maxWidthContainer, $pl, $pr);
  padding-top: 100px;
  margin-bottom: 100px;
  @media (min-width: $md4) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, min-content);
    grid-template-areas:
      'text text text .'
      'list list list list';
  }
  @media (min-width: $md2) {
    @include container-paddings($pl, $pr);
    grid-template-columns: repeat(3, minmax(min-content, 1fr));
    grid-template-areas: 'text list list';
  }
  // @media (min-width: $md1) {
  //   @include container-paddings($pl * 2, $pr);
  // }
  // .benefits__text-block
  &__text-block {
    margin-bottom: 40px;
    @media (min-width: $md4) {
      grid-area: text;
    }
    @media (min-width: $md2) {
      margin-bottom: 0;
      margin-right: 40px;
    }
  }
  // .benefits__heading
  &__heading {
    @include h1_mobile;
    @include text-gradient;
    margin-bottom: 20px;
  }
  // .benefits__text
  &__text {
    @include h3_mobile;
  }
  // .benefits__list
  &__list {
    @media (min-width: $md5) {
      display: grid;
      grid-template-columns: repeat(2, minmax(min-content, 1fr));
      grid-template-areas:
        'teachers lang'
        'online personal'
        'individual accreditate';
      gap: 0 20px;
    }
    @media (min-width: $md4) {
      grid-area: list;
    }
  }
  // .benefits__item
  &__item {
    @include h2_mobile;
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    &::before {
      @include icon-before(36px, inline-block);
      margin-right: 15px;
      flex-shrink: 0;
    }
    &--teachers {
      @media (min-width: $md4) {
        grid-area: teachers;
      }
      &::before {
        background-image: url(../img/icons/benefits/teachers.svg);
      }
    }
    &--online {
      @media (min-width: $md4) {
        grid-area: online;
      }
      &::before {
        background-image: url(../img/icons/benefits/online.svg);
      }
    }
    &--individual {
      @media (min-width: $md4) {
        grid-area: individual;
      }
      &::before {
        background-image: url(../img/icons/benefits/individual.svg);
      }
    }
    &--lang {
      @media (min-width: $md4) {
        grid-area: lang;
      }
      &::before {
        background-image: url(../img/icons/benefits/lang.svg);
      }
    }
    &--personal {
      @media (min-width: $md4) {
        grid-area: personal;
      }
      &::before {
        background-image: url(../img/icons/benefits/personal.svg);
      }
    }
    &--accreditate {
      @media (min-width: $md4) {
        grid-area: accreditate;
      }
      &::before {
        background-image: url(../img/icons/benefits/accreditate.svg);
      }
    }
  }
}
//Trial-lesson
.trial-lesson {
  @include container($maxWidthContainer);
  @include section-decorate;
  overflow: hidden;
  // background-color: rgb(116, 200, 67);
  margin-bottom: 100px;
  @media (min-width: $md4) {
    display: flex;
  }
  // .trial-lesson__inner
  &__inner {
    @include container-paddings($pl, $pr);
    @include section-offsets;
    padding-top: 65px;
    padding-bottom: 60px;
  }
  // .trial-lesson__content
  &__content {
    max-width: 470px;
    margin-left: auto;
    margin-right: auto;
  }
  // .trial-lesson__img
  &__img {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 0 0;
    }
  }
  // .trial-lesson__heading
  &__heading {
    @include h1_mobile;
    margin-bottom: 30px;
  }
  // .trial-lesson__form
  &__form {
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
  }
}

//Form
.main-form {
  // .main-form__group
  &__group {
    display: flex;
    flex-wrap: wrap;
    margin-left: -7.5px;
    margin-right: -7.5px;
    margin-bottom: 12px;
    @media (min-width: $md4) {
      margin-bottom: 14px;
    }
    &--offset-bottom {
      margin-bottom: 28px;
      @media (min-width: $md4) {
        margin-bottom: 30px;
      }
    }
    &--additional-group {
      display: none;
      &.show {
        display: block;
      }
    }
  }
  // .main-form__item
  &__item {
    margin-left: 7.5px;
    margin-right: 7.5px; //todo extends
    &--name-field {
      @extend %pair-fields;
    }
    &--phone-field {
      @extend %pair-fields;
    }
    &--full-width {
      flex-basis: calc(100% - 15px);
    }
    &--tab {
      flex-basis: calc(50% - 15px);
      label {
        @include h2_mobile;
        text-align: center;
        border-bottom: 2px solid #94c6c4;
        display: block;
        padding: 10px 12px;
      }
      input:checked + label {
        border-color: $green;
      }
      input {
        display: none;
      }
    }
    &--select {
      flex-basis: 100%;
    }
    &--radio-pair {
      display: flex;
      align-items: center;
    }
    &--button {
      text-align: center;
      @media (min-width: $md4) {
        text-align: initial;
      }
    }
  }
}
//Form fileds
.field {
  @include h3_mobile;
  @include field-decorate;
  width: 100%;
  &--select {
    position: relative;
    appearance: none;
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 10px;
      width: 0;
      height: 0;
      border-width: 6px 4px 0;
      border-style: solid;
      border-color: $black transparent transparent;
      transform: translateY(-50%);
      pointer-events: none;
    }
  }
  &--text {
    @extend %field-error;
  }
}

.radio-button {
  position: relative;
  cursor: pointer;
  background-color: $white;
  border: 2px solid $green;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  appearance: none;
  color-adjust: exact;
  transition: box-shadow 0.1s linear;
  &:hover {
    box-shadow: 0 0 3px 1px $green;
  }
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }
  &:checked::before {
    background-color: $green;
    width: 6px;
    height: 6px;
  }
  &:active::before {
    background-color: $green;
    width: 12px;
    height: 12px;
  }
  &.error {
    border: 2px solid #bdbdbd;
    background-color: $white;
    box-shadow: none;
    &::before {
      background-color: $white;
    }
  }
  &.inactive {
    border: 2px solid #bdbdbd;
    background-color: #bdbdbd;
    box-shadow: none;
    &::before {
      background-color: #bdbdbd;
    }
  }
  &--offset-right {
    margin-right: 10px;
  }
}
//todo сделать элементом наверн
.label {
  @include h3_mobile;
  cursor: pointer;
}

.for-clients {
  @include padding-container($maxWidthContainer, $pl, $pr);
  // .for-clients__item
  &__item {
    margin-bottom: 100px;
    &:last-child {
      margin-bottom: 0;
    }
    @media (min-width: $md4) {
      display: flex;
    }
    @media (min-width: $md3) {
      margin-bottom: 110px;
    }
    @media (min-width: $md2) {
      margin-bottom: 120px;
    }
    @media (min-width: $md1) {
      margin-bottom: 140px;
    }
    &--reverse {
      .for-clients__img-wrapper {
        order: 1;
      }
      .for-clients__wrapper {
        order: 0;
        margin-left: 0;
        margin-right: 30px;
        @media (min-width: $md3) {
          margin-right: 50px;
        }
        @media (min-width: $md2) {
          margin-right: 80px;
        }
        @media (min-width: $md1) {
          margin-right: 120px;
        }
      }
    }
  }
  // .for-clients__img-wrapper
  &__img-wrapper {
    display: flex;
    justify-content: center;
  }
  // .for-clients__img
  &__img {
    position: relative;
    display: inline-block;
    width: 280px;
    height: 192px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    @media (min-width: $md7) {
      width: 344px;
      height: 236px;
    }
    @media (min-width: $md4) {
      width: 280px;
      height: 192px;
      margin-bottom: 0;
    }
    @media (min-width: $md3) {
      width: 344px;
      height: 236px;
    }
    @media (min-width: $md1) {
      width: 499px;
      height: 345px;
    }
    &::before {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
    }
    img {
      @include image;
      display: block;
      position: relative;
      z-index: 2;
      width: 210px;
      height: 150px;
      border: 3px solid #ffeca0;
      border-radius: 30px;
      @media (min-width: $md7) {
        width: 240px;
        height: 180px;
      }
      @media (min-width: $md4) {
        width: 210px;
        height: 150px;
      }
      @media (min-width: $md3) {
        width: 240px;
        height: 180px;
      }
      @media (min-width: $md1) {
        width: 354px;
        height: 266px;
      }
    }
    &--kids {
      padding: 18px 24px 24px 46px;
      @media (min-width: $md7) {
        padding: 28px 36px 28px 68px;
      }
      @media (min-width: $md4) {
        padding: 18px 24px 24px 46px;
      }
      @media (min-width: $md3) {
        padding: 28px 36px 28px 68px;
      }
      @media (min-width: $md1) {
        padding: 40px 50px 50px 95px;
      }
      &::before {
        background-image: url(../img/for-kids/for-kids-frame.svg);
      }
    }
    &--adults {
      padding: 18px 48px 24px 22px;
      @media (min-width: $md7) {
        padding: 28px 68px 28px 36px;
      }
      @media (min-width: $md4) {
        padding: 18px 48px 24px 22px;
      }
      @media (min-width: $md3) {
        padding: 28px 68px 28px 36px;
      }
      @media (min-width: $md1) {
        padding: 40px 95px 50px 50px;
      }
      &::before {
        background-image: url(../img/for-adults/for-adults-frame.svg);
      }
    }
  }
  // .for-clients__heading
  &__heading {
    @include h1_mobile;
    @include text-gradient;
    margin-bottom: 30px;
  }
  // .for-clients__wrapper
  &__wrapper {
    @media (min-width: $md4) {
      margin-left: 30px;
    }
    @media (min-width: $md3) {
      margin-left: 50px;
    }
    @media (min-width: $md2) {
      margin-left: 80px;
    }
    @media (min-width: $md1) {
      margin-left: 120px;
    }
  }
  // .for-clients__list-content
  &__list-content {
    @media (min-width: $md5) {
      display: flex;
      margin-left: -10px;
      margin-right: -10px;
    }
    @media (min-width: $md3) {
      margin-left: -13px;
      margin-right: -13px;
    }
  }
  // .for-clients__list-wrapper
  &__list-wrapper {
    margin-bottom: 30px;
    @media (min-width: $md5) {
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 0;
    }
    @media (min-width: $md3) {
      padding-left: 13px;
      padding-right: 13px;
    }
  }
  // .for-clients__listheading
  &__list-heading {
    @include h2_mobile;
    margin-bottom: 18px;
  }
  // .for-clients__list
  &__list {
    @include h3_mobile;
    padding-left: 17px;
  }
  // .for-clients__list-item
  &__list-item {
    list-style-image: url(../img/icons/checkmark.svg);
    list-style-type: disc;
    margin-bottom: 12px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
