//Подключение шрифта
@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url('../fonts/#{$file_name}.woff') format('woff'),
      url('../fonts/#{$file_name}.woff2') format('woff2');
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

//heading
@mixin h1 {
  font-family: $heading;
  font-size: 24px;
  line-height: 1.415;
  letter-spacing: 0.02rem;
}
@mixin h2 {
  font-family: $text;
  font-size: 18px;
  line-height: 1.665;
  font-weight: 500;
}
@mixin h3 {
  font-family: $text;
  font-size: 16px;
  line-height: 1.625;
  font-weight: 300;
}

@mixin h1_mobile {
  font-family: $heading;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.02rem;
}
@mixin h2_mobile {
  font-family: $text;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
}
@mixin h3_mobile {
  font-family: $text;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 300;
}

//price
@mixin price {
  font-family: $heading;
  font-size: 22px;
  letter-spacing: 0.02rem;
  line-height: 1.365;
  // font-weight: 900;
}
@mixin price_mobile {
  font-family: $heading;
  font-size: 20px;
  letter-spacing: 0.02rem;
  line-height: 1.3;
  // font-weight: 900;
}
