.offer-text {
  @include padding-container($maxWidthContainer, $pl, $pr);
  margin-bottom: 100px;
  @media (min-width: $md4) {
    column-count: 2;
    column-gap: 20px;
  }
  @media (min-width: $md2) {
    margin-bottom: 140px;
  }
  h3 {
    @include h2_mobile;
    margin-top: 60px;
    margin-bottom: 30px;
    @media (min-width: $md2) {
      margin-top: 100px;
    }
  }
  p {
    @include h3_mobile;
    margin-bottom: 20px;
  }
}
