.solution-advantages {
  padding-top: 32px;
  padding-bottom: 40px;
  @media (min-width: $md7) {
    padding-bottom: 50px;
  }
  @media (min-width: $md6) {
  }
  @media (min-width: $md5) {
    padding-top: 38px;
  }
  @media (min-width: $md4) {
    padding-top: 44px;
    padding-bottom: 70px;
  }
  @media (min-width: $md3) {
    padding-top: 50px;
    padding-bottom: 80px;
  }
  @media (min-width: $md2) {
    padding-top: 58px;
  }
  @media (min-width: $md1) {
    padding-top: 80px;
  }
  &__term {
    margin-bottom: 16px;
    @media (min-width: $md7) {
      margin-bottom: 20px;
    }
    @media (min-width: $md6) {
      margin-bottom: 22px;
    }
    @media (min-width: $md5) {
      margin-bottom: 24px;
    }
    @media (min-width: $md4) {
      margin-bottom: 28px;
    }
    @media (min-width: $md3) {
      margin-bottom: 32px;
    }
    @media (min-width: $md1) {
      margin-bottom: 38px;
    }
  }
  &__ref {
    margin-bottom: 40px;
    @media (min-width: $md7) {
      margin-bottom: 48px;
    }
    @media (min-width: $md4) {
      margin-bottom: 58px;
    }
    @media (min-width: $md3) {
      margin-bottom: 80px;
    }
    @media (min-width: $md1) {
      margin-bottom: 130px;
    }
    span {
      @media (min-width: $md5) {
        max-width: 580px;
      }
    }
  }
  &__benefits {
    margin-bottom: 50px;
    @media (min-width: $md4) {
      margin-bottom: 100px;
    }
  }
  &__instructions {
  }
}

.term {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  @media (min-width: $md5) {
    font-size: 20px;
  }
  @media (min-width: $md4) {
    font-size: 24px;
  }
  @media (min-width: $md1) {
    font-size: 28px;
  }
}
.ref {
  display: flex;
  font-size: 12px;
  font-weight: 400;
  color: lighten($black, 50%);
  @media (min-width: $md5) {
    font-size: 14px;
    line-height: 1.15;
  }

  &::before {
    flex-shrink: 0;
    content: '';
    background-image: url(../img/emblem.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 55px;
    height: 68px;
    margin-right: 10px;
    @media (min-width: $md6) {
      margin-right: 20px;
    }
    @media (min-width: $md4) {
      width: 75px;
      height: 88px;
    }
    @media (min-width: $md3) {
      width: 83px;
      height: 98px;
    }
  }
}
.benefits {
  position: relative;
  &__inner {
    padding-top: 100px;
    background-image: url(../img/dome.svg);
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
    @media (min-width: $md1) {
      padding-top: 0;
      background-position: center 45px;
    }
  }

  &__list {
    @media (min-width: $md4) {
      display: flex;
      flex-wrap: wrap;
    }
    @media (min-width: $md1) {
      display: grid;
      row-gap: 100px;
      grid-template-columns: repeat(5, 20%);
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas:
        '. create . eco .'
        'save heading heading heading control';
      margin-left: -103px;
      margin-right: -103px;
    }
  }
  &__list-heading {
    grid-area: heading;
    flex-basis: 100%;
    font-size: 34px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 32px;
    @media (min-width: $md7) {
      font-size: 38px;
    }
    @media (min-width: $md6) {
      font-size: 40px;
    }
    @media (min-width: $md5) {
      font-size: 46px;
    }
    @media (min-width: $md4) {
      font-size: 54px;
    }
  }
  &__item {
    // margin-bottom: 46px;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    @media (min-width: $md4) {
      flex-basis: 33.333%;
      max-width: 33.333%;
    }
    @media (min-width: $md1) {
      width: 206px;
      height: 206px;
      max-width: none;
      background-color: $white;
      // background-color: rgb(0, 246, 123);
      border-radius: 50%;
    }
    &--save {
      grid-area: save;
    }
    &--create {
      grid-area: create;
    }
    &--eco {
      grid-area: eco;
    }
    &--control {
      grid-area: control;
    }
  }
}
.item-benefits {
  padding: 24px 0;
  text-align: center;
  @media (min-width: $md4) {
    padding-left: 15px;
    padding-right: 15px;
  }
  &__img {
    width: 72px;
    height: 72px;
    margin: 0 auto 15px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__text {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.25;
  }
}
.instructions {
  &__heading {
    text-align: center;
    margin-bottom: 28px;
    @media (min-width: $md7) {
      margin-bottom: 30px;
    }
    @media (min-width: $md5) {
      margin-bottom: 32px;
    }
    @media (min-width: $md4) {
      margin-bottom: 80px;
      text-align: left;
    }
  }
  &__item {
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0;
    }
    ul {
      padding-left: 25px;
      border-left: 2px dashed rgb(214, 214, 214);
      @media (min-width: $md4) {
        flex-basis: 70%;
        margin-left: 16px;
        padding-left: 35px;
      }
    }
    li {
      font-size: 14px;
      line-height: 1.25;
      list-style: disc;
      margin-bottom: 12px;
      padding-left: 10px;
      color: lighten($black, 30%);
      hyphens: auto;
      @media (min-width: $md6) {
        font-size: 16px;
      }
      @media (min-width: $md5) {
        font-size: 18px;
      }
      @media (min-width: $md4) {
        &:last-child {
          margin-bottom: 0;
        }
      }
      @media (min-width: $md3) {
        hyphens: none;
      }
    }
    @media (min-width: $md4) {
      display: flex;
    }
    // &::after {
    //   content: '';
    //   background-image: url(../img/step-icons/arrow-down.svg);
    //   background-repeat: no-repeat;
    //   background-size: cover;
    //   width: 10px;
    //   height: 300px;
    //   position: absolute;
    //   top: 0;
    //   right: 0;
    // }
  }
}
.item-instructions {
  margin-bottom: 25px;
  @media (min-width: $md4) {
    flex-basis: 30%;
    margin-right: 16px;
    margin-bottom: 0;
  }
  &__img {
    width: 100px;
    height: 100px;
    margin: 0 auto 15px;
    // @media (min-width: $md6) {
    //   width: 120px;
    //   height: 120px;
    // }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__text {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    line-height: 1.2;
    @media (min-width: $md6) {
      font-size: 20px;
    }
    @media (min-width: $md5) {
      font-size: 22px;
    }
    @media (min-width: $md4) {
      font-size: 20px;
    }
  }
}
.solution-reviews {
  padding-top: 78px;
  padding-bottom: 24px;
  @media (min-width: $md2) {
    padding-bottom: 28px;
  }
  &__heading {
    text-align: center;
    margin-bottom: 34px;
    @media (min-width: $md4) {
      text-align: left;
      margin-bottom: 0;
    }
  }
  &__slider {
  }
  &__button-wrapper {
    justify-content: flex-end;
    margin-bottom: 14px;
  }
  &__button {
    width: 41px;
    height: 41px;
  }
}
//========================================================================================================================================================
.contacts {
  padding-top: 24px;
  padding-bottom: 24px;
  @media (min-width: $md2) {
    padding-top: 28px;
    padding-bottom: 28px;
  }
  &__heading {
    margin-bottom: 36px;
  }
  &__form {
  }
}
//========================================================================================================================================================
.side-menu {
  display: none;
  @media (min-width: $md2) {
    display: block;
  }
  // .side-menu__list
  &__list {
    position: relative;
    width: 130px;
    &::before {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      width: 1px;
      height: 100%;
      background-color: $brand-low;
    }
  }
  // .side-menu__item
  &__item {
    position: relative;
    font-size: 12px;
    line-height: 1.25;
    font-weight: 400;
    cursor: pointer;
    transition: color 0.1s linear;
    padding: 12px 10px;
    // margin-bottom: 22px;
    &:hover {
      color: $accent;
      &::before {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 1px;
        height: 100%;
        background-color: $accent;
      }
    }
    // &:last-child {
    //   margin-bottom: 0;
    // }
    &.active {
      font-weight: 700;
      &::before {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 1px;
        height: 100%;
        background-color: $accent;
      }
      &:hover {
        color: inherit;
      }
    }
  }
}
