// *заголовки среднего размера на страницах решений
._heading {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.5;
  @media (min-width: $md7) {
    font-size: 30px;
  }
  @media (min-width: $md6) {
    font-size: 32px;
  }
  @media (min-width: $md5) {
    font-size: 34px;
  }
}
