//main colors
$green: #236967;
$orange: #fc8b4c;
$red: #fe7167;
$yellow: #ffcc1a;
//additional colors
$light-yellow: #fffbed;
$beige: #fde9d4;
$dark-gray: #363636;
$mint: #61b5a9;
//default colors
$white: #ffffff;
$black: #000000;

//fonts
$heading: 'NextArtHeavy';
$heading-alt: 'Raleway-Medium';
$text: 'Raleway-Light';
$font-decorate: 'Jost-Black';

//standart-padding
$pl: 20px;
$pr: 20px;
