.main-form {
  // .main-form__group
  &__group {
    display: flex;
    flex-wrap: wrap;
    margin-left: -7.5px;
    margin-right: -7.5px;
    margin-bottom: 12px;
    @media (min-width: $md4) {
      margin-bottom: 14px;
    }
    &--offset-bottom {
      margin-bottom: 28px;
      @media (min-width: $md4) {
        margin-bottom: 30px;
      }
    }
    &--additional-group {
      display: none;
      &.show {
        display: block;
      }
    }
  }
  // .main-form__text
  &__text {
    font-family: $text;
    font-size: 14px;
    line-height: 1.5;
    margin-top: 24px;
    margin-bottom: 15px;
  }
  // .main-form__item
  &__item {
    margin-left: 7.5px;
    margin-right: 7.5px; //todo extends
    &--currency-rub {
      position: relative;
      &::after {
        @include h2;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        content: '\20BD';
        width: 50px;
        height: 100%;
        background-color: transparent;
      }
    }
    &--name-field {
      //!del
      @extend %pair-fields;
    }
    &--phone-field {
      @extend %pair-fields;
    }
    &--half-width-768 {
      flex-basis: calc(100% - 15px);
      @media (min-width: $md4) {
        flex-basis: calc(50% - 15px);
      }
    }
    &--full-width {
      flex-basis: calc(100% - 15px);
    }
    &--tab {
      //todo мб убрать модификатор
      flex-basis: calc(50% - 15px);
    }
    &--select {
      flex-basis: 100%;
      position: relative;
      &::after {
        position: absolute;
        top: 50%;
        right: 15px;
        content: '';
        display: block;
        background-image: url(../img/icons/dropdown-arrow.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 10px;
        height: 6px;
        cursor: pointer;
        transform: translateY(-50%);
        pointer-events: none;
      }
      &:hover .education__dropdown,
      &:focus-within .education__dropdown {
        transform: perspective(100px) rotateX(0deg) translateX(-50%);
        opacity: 1;
      }
    }
    &--radio-pair {
      display: flex;
      align-items: center;
    }
    &--button {
      text-align: center;
      @media (min-width: $md4) {
        text-align: initial;
      }
    }
  }
}
//Form fileds
.field {
  @include h3_mobile;
  @include field-decorate;
  width: 100%;
  &--padding-right {
    padding-right: 50px;
  }
  &--select {
    padding-right: 1.5em; //отступ для стрелки
    appearance: none;
  }
  &--text {
    @extend %field-error;
  }
  &--number {
    position: relative;
    @extend %field-error;
    appearance: textfield;
  }
}
.radio-button {
  position: relative;
  cursor: pointer;
  background-color: $white;
  border: 2px solid $green;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  appearance: none;
  color-adjust: exact;
  transition: box-shadow 0.1s linear;
  &:hover {
    box-shadow: 0 0 3px 1px $green;
  }
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }
  &:checked::before {
    background-color: $green;
    width: 6px;
    height: 6px;
  }
  &:active::before {
    background-color: $green;
    width: 12px;
    height: 12px;
  }
  &.error {
    border: 2px solid #bdbdbd;
    background-color: $white;
    box-shadow: none;
    &::before {
      background-color: $white;
    }
  }
  &.inactive {
    border: 2px solid #bdbdbd;
    background-color: #bdbdbd;
    box-shadow: none;
    &::before {
      background-color: #bdbdbd;
    }
  }
  &--offset-right {
    margin-right: 10px;
  }
}
//todo сделать элементом наверн
.label {
  @include h3_mobile;
  cursor: pointer;
}
