@font-face {
  font-family: "icons";
  src: url("../iconfonts/icons.eot?8c5ca7");
  src: url("../iconfonts/icons.eot?8c5ca7#iefix") format("embedded-opentype"), url("../iconfonts/icons.ttf?8c5ca7") format("truetype"), url("../iconfonts/icons.woff?8c5ca7") format("woff"), url("../iconfonts/icons.svg?8c5ca7#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  transition: color 0.1s linear;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
  content: "\e901";
}

.icon-phone:before {
  content: "\e902";
}

.icon-viber:before {
  content: "\e903";
}

.icon-vk:before {
  content: "\e904";
}

.icon-facebook:before {
  content: "\e900";
}