//Benefits
.benefits {
  // .benefits__content
  &__content {
    @media (min-width: $md4) {
      --col-size: minmax(min-content, 340px);
      display: grid;
      grid-template-columns: var(--col-size) 1fr;
      grid-template-areas:
        'heading list'
        'text list';
      align-items: start;
      column-gap: 30px;
    }
    @media (min-width: $md2) {
      column-gap: 60px;
    }
    &--kids-offline {
      @media (min-width: $md4) {
        --col-size: minmax(340px, 1fr);
        grid-template-areas:
          'heading .'
          'list list';
      }
    }
  }
  // .benefits__heading
  &__heading {
    grid-area: heading;
    @include heading-v1;
    @include text-gradient;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  // .benefits__text
  &__text {
    grid-area: text;
    @include heading-v3;
    margin-bottom: 40px;
    @media (min-width: $md4) {
      margin-bottom: 0;
    }
  }
  // .benefits__list
  &__list {
    grid-area: list;
    display: grid;
    row-gap: 20px;
    @media (min-width: $md5) {
      grid-template-columns: repeat(2, auto);
      column-gap: 30px;
    }
    &--result {
      @media (min-width: $md5) {
        grid-template-columns: auto;
      }
      @media (min-width: $md3) {
        grid-template-columns: repeat(2, auto);
      }
      @media (min-width: $md1) {
        grid-template-columns: repeat(3, auto);
      }
    }
  }
  // .benefits__item
  &__item {
    @include heading-v2;
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    column-gap: 15px;
    &::before {
      @include icon-before(36px, inline-block);
    }
    &--teachers {
      &::before {
        background-image: url(../img/icons/benefits/teachers.svg);
      }
    }
    &--online {
      &::before {
        background-image: url(../img/icons/benefits/online.svg);
      }
    }
    &--individual {
      &::before {
        background-image: url(../img/icons/benefits/individual.svg);
      }
    }
    &--lang {
      &::before {
        background-image: url(../img/icons/benefits/lang.svg);
      }
    }
    &--personal {
      &::before {
        background-image: url(../img/icons/benefits/personal.svg);
      }
    }
    &--accreditate {
      &::before {
        background-image: url(../img/icons/benefits/accreditate.svg);
      }
    }
    &--art {
      &::before {
        background-image: url(../img/icons/benefits/art.svg);
      }
    }
    &--elearning {
      &::before {
        background-image: url(../img/icons/benefits/elearning.svg);
      }
    }
    &--exam {
      &::before {
        background-image: url(../img/icons/benefits/exam.svg);
      }
    }
    &--live {
      &::before {
        background-image: url(../img/icons/benefits/live.svg);
      }
    }
    &--devices {
      &::before {
        background-image: url(../img/icons/benefits/devices.svg);
      }
    }
    &--ebook {
      &::before {
        background-image: url(../img/icons/benefits/ebook.svg);
      }
    }
  }
}
//For clients
.for-clients {
  // .for-clients__item
  &__item {
    margin-bottom: 100px;
    &:last-child {
      margin-bottom: 0;
    }
    @media (min-width: $md4) {
      display: flex;
    }
    @media (min-width: $md3) {
      margin-bottom: 110px;
    }
    @media (min-width: $md2) {
      margin-bottom: 120px;
    }
    @media (min-width: $md1) {
      margin-bottom: 140px;
    }
    &--reverse {
      .for-clients__img-wrapper {
        order: 1;
      }
      .for-clients__wrapper {
        order: 0;
        margin-left: 0;
        margin-right: 30px;
        @media (min-width: $md3) {
          margin-right: 50px;
        }
        @media (min-width: $md2) {
          margin-right: 80px;
        }
        @media (min-width: $md1) {
          margin-right: 120px;
        }
      }
    }
  }
  // .for-clients__img-wrapper
  &__img-wrapper {
    display: flex;
    justify-content: center;
  }
  // .for-clients__img
  //внешний вид в .image-decorate
  &__img {
    margin-bottom: 60px;
    width: 280px;
    height: 192px;
    @media (min-width: $md7) {
      width: 344px;
      height: 236px;
    }
    @media (min-width: $md4) {
      width: 280px;
      height: 192px;
      margin-bottom: 0;
    }
    @media (min-width: $md3) {
      width: 344px;
      height: 236px;
    }
    @media (min-width: $md1) {
      width: 499px;
      height: 345px;
    }
    img {
      width: 210px;
      height: 150px;
      @media (min-width: $md7) {
        width: 240px;
        height: 180px;
      }
      @media (min-width: $md4) {
        width: 210px;
        height: 150px;
      }
      @media (min-width: $md3) {
        width: 240px;
        height: 180px;
      }
      @media (min-width: $md1) {
        width: 354px;
        height: 266px;
      }
    }
    &--kids {
      img {
        top: 18px;
        left: 46px;
        @media (min-width: $md7) {
          top: 28px;
          left: 68px;
        }
        @media (min-width: $md4) {
          top: 18px;
          left: 46px;
        }
        @media (min-width: $md3) {
          top: 28px;
          left: 68px;
        }
        @media (min-width: $md1) {
          top: 40px;
          left: 95px;
        }
      }
      &::before {
        background-image: url(../img/for-kids/for-kids-frame.svg);
      }
    }
    &--adults {
      img {
        top: 18px;
        left: 22px;
        @media (min-width: $md7) {
          top: 28px;
          left: 36px;
        }
        @media (min-width: $md4) {
          top: 18px;
          left: 22px;
        }
        @media (min-width: $md3) {
          top: 28px;
          left: 36px;
        }
        @media (min-width: $md1) {
          top: 40px;
          left: 50px;
        }
      }
      &::before {
        background-image: url(../img/for-adults/for-adults-frame.svg);
      }
    }
  }
  // .for-clients__heading
  &__heading {
    @include heading-v1;
    @include text-gradient;
    margin-bottom: 30px;
  }
  // .for-clients__wrapper
  &__wrapper {
    @media (min-width: $md4) {
      margin-left: 30px;
    }
    @media (min-width: $md3) {
      margin-left: 50px;
    }
    @media (min-width: $md2) {
      margin-left: 80px;
    }
    @media (min-width: $md1) {
      margin-left: 120px;
    }
  }
  // .for-clients__list-content
  &__list-content {
    @media (min-width: $md5) {
      display: flex;
      margin-left: -10px;
      margin-right: -10px;
    }
    @media (min-width: $md3) {
      margin-left: -13px;
      margin-right: -13px;
    }
  }
  // .for-clients__list-wrapper
  &__list-wrapper {
    margin-bottom: 30px;
    @media (min-width: $md5) {
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 0;
    }
    @media (min-width: $md3) {
      padding-left: 13px;
      padding-right: 13px;
    }
  }
  // .for-clients__listheading
  &__list-heading {
    @include heading-v2;
    margin-bottom: 18px;
  }
  // .for-clients__list
  &__list {
    @include heading-v3;
    padding-left: 17px;
  }
  // .for-clients__list-item
  &__list-item {
    list-style-image: url(../img/icons/checkmark.svg);
    list-style-type: disc;
    margin-bottom: 12px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
//Learning-way
.learning-way {
  display: flex;
  justify-content: center;
  // .learning-way__content
  &__content {
    max-width: 920px;
  }
  // .learning-way__text-wrapper
  &__text-wrapper {
    margin-bottom: 40px;
  }
  // .learning-way__heading
  &__heading {
    @include heading-v1;
    @include text-gradient;
    margin-bottom: 30px;
  }
  // .learning-way__text
  &__text {
    font-family: $text;
    font-size: 16px;
    line-height: 1.625;
    max-width: 430px;
  }
  // .learning-way__method
  &__method {
    margin-bottom: 100px;
  }
}
//Learning-method (part of "learning-way" section)
.learning-method {
  // .learning-method__list
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  // .learning-method__item
  &__item {
    flex-basis: 100%;
    position: relative;
    display: inline-block;
    min-height: 90px;
    text-align: center;
    @media (min-width: $md7) {
      flex-basis: calc(33.333% - 10px);
      flex-grow: 0;
      flex-shrink: 0;
      padding-left: 5px;
      padding-right: 5px;
    }
    @media (min-width: $md4) {
      flex-basis: 20%;
    }
  }
  // .learning-method__decryption-text
  &__decryption-text {
    @include heading-v3;
    display: block;
    padding-top: 32px;
    color: $green;
  }
  // .learning-method__main-text
  &__main-text {
    font-family: $heading-alt;
    font-size: 18px;
    line-height: 1.665;
    display: block;
  }
}
//learning-target (part of "learning-way" section)
.learning-target {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  @media (min-width: $md4) {
    flex-wrap: nowrap;
  }
  // .learning-target__image
  &__image {
    flex-shrink: 0;
    width: 281px;
    height: 215px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    &::before {
      background-image: url(../img/learning-target/learning-target-frame.svg);
    }
    @media (min-width: $md7) {
      width: 350px;
      height: 268px;
    }
    @media (min-width: $md4) {
      margin-left: 0;
      margin-right: 30px;
      margin-bottom: 0;
    }
    @media (min-width: $md3) {
      width: 394px;
      height: 302px;
      margin-right: 50px;
    }
    img {
      position: absolute;
      top: 23px;
      left: 17px;
      width: 248px;
      height: 172px;
      @media (min-width: $md7) {
        width: 315px;
        height: 218px;
      }
      @media (min-width: $md3) {
        top: 27px;
        left: 20px;
        width: 354px;
        height: 245px;
      }
    }
  }
  // .learning-target__text-wrapper
  &__text-wrapper {
    max-width: 450px;
    @media (min-width: $md4) {
      margin-top: 66px;
    }
  }
  // .learning-target__heading
  &__heading {
    @include heading-v2;
    display: block;
    margin-bottom: 18px;
  }
  // .learning-target__text
  &__text {
    @include heading-v3;
  }
}
//learning-steps (part of "learning-way" section)
.learning-steps {
  counter-reset: step-list;
  // .learning-steps__item
  &__item {
    position: relative;
    margin-bottom: 40px;
    @media (min-width: $md4) {
      display: flex;
      margin-bottom: 50px;
    }
    &::after {
      @media (min-width: $md4) {
        flex-shrink: 0;
        margin-top: 20px;
        content: '';
        display: block;
        width: 80px;
        height: 70px;
        background: url(../img/icons/Arrow-right.svg);
        background-repeat: no-repeat;
        background-size: cover;
      }
      @media (min-width: $md4) {
        width: 128px;
        height: 111px;
      }
    }
    &:last-child {
      margin-bottom: 0;
      &::after {
        @media (min-width: $md5) {
          display: none;
        }
      }
    }
    &--reverse {
      @media (min-width: $md4) {
        justify-content: flex-end;
      }
      &::after {
        @media (min-width: $md4) {
          order: 0;
          margin-right: 50px;
          transform: rotateY(180deg);
        }
      }
      .learning-steps__text-wrapper {
        margin-right: 0;
        order: 1;
      }
    }
  }
  // .learning-steps__text-wrapper
  &__text-wrapper {
    max-width: 400px;
    @media (min-width: $md5) {
      margin-right: 50px;
    }
  }
  // .learning-steps__heading
  &__heading {
    @include heading-v2;
    position: relative;
    margin-bottom: 16px;
    padding-top: 10px;
  }
  // .learning-steps__text
  &__text {
    @include heading-v3;
  }
}
//History
.history {
  // .history__content
  &__content {
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
  }
  // .history__heading
  &__heading {
    @include heading-v1;
    @include text-gradient;
    margin-bottom: 40px;
    @media (min-width: $md1) {
      margin-bottom: 60px;
    }
  }
  // .history__nav-line
  &__nav-line {
    margin-bottom: 60px;
  }
  // .history__slider
  &__slider {
    margin-left: auto;
    margin-right: auto;
  }
}
//nav-line
.nav-line {
  //нужный год - 1
  --start-year: 2015;
  counter-reset: timeline var(--start-year, 2015);
  font-size: 16px;
  margin-top: 1.875em;
  &::before {
    position: absolute;
    bottom: 9px;
    content: '';
    width: 100%;
    height: 2px;
    background-color: $mint;
  }
  // .nav-line__wrapper
  &__wrapper {
    padding-bottom: 5px;
  }
  // .nav-line__item
  &__item {
    position: relative;
    display: grid;
    grid-template-columns: minmax(min-content, 50px);
    row-gap: 7px;
    justify-content: center;
    justify-items: center;
    align-content: end;
    cursor: pointer;
    outline: none;
    &::before {
      counter-increment: timeline;
      content: counter(timeline);
      display: block;
      font-family: $text;
      line-height: 1.625;
      transition: color 0.2s linear;
    }
    /*  bullet */
    &::after {
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $mint;
      transition: box-shadow 0.2s linear, background-color 0.2s linear;
    }
    &.swiper-slide {
      flex-shrink: 1;
    }
    &.swiper-slide-thumb-active,
    &:focus-visible {
      &::before {
        color: $green;
      }
      &::after {
        background-color: $green;
        box-shadow: 0 0 5px 1px $green;
      }
    }
  }
}
//Slider-history
.slider-history {
  max-width: 280px;
  @media (min-width: $md7) {
    max-width: 335px;
  }
  @media (min-width: $md6) {
    max-width: 345px;
  }
  @media (min-width: $md4) {
    @include container(680px);
  }
  // .slider-history__slide
  &__slide {
    @media (min-width: $md4) {
      display: flex;
      align-items: center;
    }
  }
  // .slider-history__text-wrapper
  &__text-wrapper {
    margin-bottom: 40px;
    @media (min-width: $md4) {
      order: 1;
    }
  }
  // .slider-history__heading
  &__heading {
    @include heading-v1;
    margin-bottom: 20px;
  }
  // .slider-history__text
  &__text {
    @include heading-v2;
  }
  // .slider-history__image
  &__image {
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    height: 230px;
    @media (min-width: $md7) {
      width: 335px;
      height: 275px;
    }
    @media (min-width: $md6) {
      width: 345px;
      height: 285px;
    }
    @media (min-width: $md4) {
      flex-shrink: 0;
      order: 0;
      margin-right: 40px;
    }
    @media (min-width: $md3) {
      margin-right: 80px;
    }
    &::before {
      background-image: url(../img/slider-history/frame-bottom.svg);
      background-position-y: bottom;
    }
    &::after {
      background-image: url(../img/slider-history/frame-top.svg);
    }
    img {
      top: 14px;
      left: 20px;
      width: 240px;
      height: 200px;
      @media (min-width: $md7) {
        width: 290px;
        height: 240px;
      }
      @media (min-width: $md6) {
        width: 300px;
        height: 250px;
      }
    }
  }
}
